{#synced calendar - add row for hx-target#}
<tr>
    <th>{{ new_synced_calendar.name }}</th>
    <th>{{ new_synced_calendar.google_calendar_id }}</th>
    <th>
        <button
                id="syncCancelBtn_{{ new_synced_calendar.id }}"
                class='btn btn-sm btn-danger'
                hx-post='{{ url_for("hx_delete_calendar_syncs") }}'
                hx-vals='{"user_id": "{{ user_id }}", "calendar_id" : "{{ calendar_id }}"}'
                hx-target="#syncedCalendarTable"
                hx-swap="outerHTML"
        >
            연동 취소
        </button>
    </th>
</tr>


{# 내 구글 캘린더 - 연동 버튼 => 연동 중으로 바꾸기 (현재 element for hx-swap-oob) #}
<button
        id="syncBtn_{{ new_synced_calendar.id }}"
        class='btn btn-sm btn-success'
        hx-swap-oob="true"
>
    연동 중
</button>