<table style="border: 1px solid; width: 80%;" id="syncedCalendarTable">
    <tr>
        <th>Calendar Name</th>
        <th>Calendar ID</th>
        <th>Action</th>
    </tr>
    {% for synced_calendar in synced_calendars %}
        <tr>
            <th>{{ synced_calendar.name }}</th>
            <th>{{ synced_calendar.google_calendar_id }}</th>
            <th>

                <button
                        id="syncCancelBtn_{{ synced_calendar.id }}"
                        class='btn btn-sm btn-danger'
                        hx-post='{{ url_for("hx_delete_calendar_syncs") }}'
                        hx-vals='{"user_id": "{{ user_id }}", "calendar_id" : "{{ synced_calendar.id }}"}'
                        hx-target="#syncedCalendarTable"
                        hx-swap="outerHTML"
                >
                    연동 취소
                </button>
            </th>
        </tr>
    {% endfor %}
</table>

{# 연동 취소후, 해당 id에 대응하는 연동버튼을 oob로서 대체시킨다. #}
<button id="syncBtn_{{ calendar_id }}"
        class='btn btn-sm btn-auth'
        hx-post='{{ url_for("hx_create_calendar_syncs") }}'
        hx-vals='{"user_id": "{{ user_id }}", "calendar_id" : "{{ calendar_id }}"}'
        hx-target="#syncedCalendarTable"
        hx-swap="beforeend swap:1s"
        hx-swap-oob="true"
>
    연동
</button>

{# 연동 취소후, 싱크 캘린더 - [count] 업데이트 => hx-trigger response로 교체 #}
{#<span id="synced-calendars-count" hx-swap-oob="true">{{ synced_calendars | length }}</span>#}